*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

p {
  color: #fcfc;
  font-size: 0.9rem;
  line-height: 25px;
  margin-bottom: 30px;
}

img {
  max-width: 100%; /* スマホサイズでも画像が縮小される。 */
}

li {
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px 25px;
  list-style: none
}

header {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding-left: 30px;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  margin: 0 auto;
  padding: 0 4%;
}

header.active {
  opacity: 1;
  visibility: visible;
  transform: none;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
  background-color: #e2dfdf; 
}

#header ul {
  display: flex;
  align-items: center;
  padding: 2% 0;
}

#header ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-left: 30px;
}

#header ul li a:hover{
  color: lightcoral;
  transition: all 0.5s;
}

.site-title a{
    color:rgb(252, 3, 3);
    letter-spacing: 1px;
    cursor: pointer;
}

.btn{
    background-color: rgb(114, 223, 238);
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    }

.btn:hover{
    color: rgb(252, 251, 251);
    background-color: black;
    transform: scale(1.3);
    border-radius: 10px;
}

.content {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: contain;
}

h4 {
    color: rgb(3, 3, 3);
    margin: 20px 0 20px;
    font-size: 42px;
}

h3 {
    color: rgb(42, 186, 253);
    margin: 20px 0 20px;
    font-size: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
  }

.main {
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

.about-text h2 {
    color: white;
    font-size: 75px;
    margin-bottom: 20px;  
    padding-top: 80px;  
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  
.about-text h5 {
    color: rgb(42, 186, 253);
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

  }

.about-text p {
    color: rgb(250, 162, 235);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

  }

button {
    background-color: lightseagreen;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.3s;
  }
  
button:hover {
    background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
    color: rgb(8, 8, 8);
    background-color: white;
  }

.portfolio {
    background: #c5c4c4;
    width: 100%;
    padding: 50px 0px;
  }

.title h2 {
    color: white;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
  }

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
  }
  
.card {
    height: auto;
    width: 380px;
    background-color: #191919ad;
    padding: 20px ;
    border-radius: 20px;
    margin: 60px;
    text-align: center;
  }
  
.card i {
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: lightseagreen;
  }
  
h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
  }



.card .button {
    background-color: lightseagreen;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.3s;
  }
  
.card .button:hover {
  background-color: transparent;
  border: 2px solid green;
  cursor: pointer;
  color: rgb(8, 8, 8);
  background-color: white;
  }
.contact {
    width: 100%;
    height: 290px;
    background: #868484;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
.contact p {
    color: #fcfc;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
.contact .button-two {
    background-color: lightseagreen;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.3s;
  }
  
.contact .button-two:hover {
  background-color: transparent;
  border: 2px solid green;
  cursor: pointer;
  color: rgb(8, 8, 8);
  background-color: white;
  }



@media screen and (max-width: 600px){

.site-title{
  margin-top: 20px;
}

header {
  z-index: 999;
  max-width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 0px;
  line-height: 40px;
}

header ul li {
  font-size: 0.8rem;
  margin-left: 20px;
}

.btn{
  margin-bottom: 20px;
}

.content .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 0px;
  width: auto;
  padding: 0px 0px;
}

.content .body img{
  width: 250px;
  height: auto;
  object-fit: cover;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 3, 3);
  margin: 20px 0 20px;
  font-size: 30px;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(42, 186, 253);
  margin: 20px 0 20px;
  font-size: 20px;
}

.about {
  width: 100%;
  padding: 50px 0;
  background-color: #191919;
}

.about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-text h2 {
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.about-text h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(42, 186, 253);
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 10px;
}

.about-text p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(250, 162, 235);
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}


.portfolio {
    background: #c5c4c4;
    width: 100%;
    padding: 50px 0px;
  }

.title h2 {
    color: white;
    font-size: 40px;
    margin: 20px auto;
    text-align: center;
  }

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50px;
  }

.card {
    height: auto;
    width: auto;
    margin: 20px;
  }
  
h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
  }



.contact {
    width: 100%;
    height: 150px;
  }
  
.contact p {
    color: #fcfc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}
