@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'M PLUS 1p', sans-serif;;
}

.sidebar {
    position: fixed;
    left: -250px;
    background-color: antiquewhite;
    width: 250px;
    height: 100%;

}

.sidebar header {
    font-size: 25px;
    color: aquamarine;
    text-align: center;
    text-decoration: none;
    line-height: 75px;
    background: rgba(90, 89, 89, 0.527);
    user-select: none;
}

.sidebar header a {
    color: aquamarine;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 75px;
    color: black;
    font-size: 22px;
    padding-left: 30px;
    border-bottom: 1px solid black;;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
  }

#check {
    display: none;
  }
  
  label #btn,
  label #cancel {
    position: absolute;
    cursor: pointer;
    background: #e4b9ce5e;
    border-radius: 3px;
  }
  
label #btn {
    left: 40px;
    top: 25px;
    font-size: 25px;
    color: #fff;
    padding: 6px 12px;
    transition: all 0.5s;
  }

label #cancel {
    z-index: 10;
    /* left: 195px; 見やすいように最初はこれ*/
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #fff;
    padding: 4px 9px;
    transition: all 0.5s;
  }
  
#check:checked ~ .sidebar {
    left: 0;
  }
  
#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  
#check:checked ~ label #cancel {
    left: 195px;
  }
  
#check:checked ~ .hero {
    margin-left: 250px;
  }

.hero {
    height: 100vh;
    background-image: url("./karubi.png");
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.card {
    height: auto;
    width: auto;
    background-color: #bebaba;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 160px 60px 40px 60px;
    text-align: center;
  }
  
.card i {
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: lightseagreen;
  }

  h5 {
    color: rgb(10, 10, 10);
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .pra p {
    color: rgb(73, 129, 250);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 80px;
  }

  .card .button {
    background-color: lightseagreen;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.3s;
  }

.card .button:hover {
    background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
  }


@media screen and (max-width: 600px){

.hero {
    max-width: 100%;
  }

.hero {
    position: relative;
    background-image: none;
}
.hero::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url('./nachosp.png');
    background-size: cover;
}

.card {
  max-width: 100%;
  height: auto;
  width: auto;
  background-color: #bebaba;
  padding: 20px 20px;
  border-radius: 20px;
  margin: 150px 40px 0px 40px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  z-index: 999;
  position: fixed;
  left: 0px;
  background-color: antiquewhite;
  width: 100%;
  height: auto;

}

.sidebar header {
  font-size: 25px;
  color: aquamarine;
  text-align: center;
  text-decoration: none;
  line-height: 75px;
  background: rgba(90, 89, 89, 0.527);
  user-select: none;
}

#check:checked ~ .sidebar {
  left: 50px;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

#check:checked ~ .hero {
  margin-top: 250px;


}



}  
